<h1 style="color: chocolate">Administradores</h1>

<div class="container ml-4">
    <form class="form-inline my-2 my-lg-0">
        <input id = "busqueda" 
               class="form-control mr-sm-2 mb-1" 
               type="search" 
               placeholder="Buscar admin por cédula" 
               aria-label="Search"
               style="width: 8cm;">
        <button type = "button" 
                class="btn btn-outline-secondary mb-1"  
                (click) = "buscar('busqueda','i')">Buscar</button>
    </form>
    <button type="button" 
            class="btn border border-secondary mb-1" 
            style="color: chocolate;"
            (click) = "agregar()">Agregar Nuevo Vendedor</button>
    <table class="table table-dark table-responsive-md table-striped">
        <thead>
          <tr>
            <th scope="col">ID</th>
            <th scope="col">Fecha de Nacimiento</th>
            <th scope="col">Fecha de ingreso a TECres</th>
            <th scope="col">Nombre</th>
            <th scope="col">Apellido 1</th>
            <th scope="col">Apellido 2</th>
            <th scope="col">Edad</th>
            <th scope="col">Cédula</th>
            <th scope="col">Quitar/Agregar/Modificar el Administrador
          </tr>
        </thead>
        <tbody>
            
         
          <tr *ngFor = "let administrador of perfil_administradores;index as i" [attr.id] = "i"  [ngClass] = "{'highlight' : administrador.cedula == buscar('busqueda','i')}">
            <td class="pt-3-half" contenteditable="true" (blur) = "actualizarLista(administrador.id_admin , 'ID', $event)">{{administrador.id_admin}}</td>
            <td class="pt-3-half" contenteditable="true" (blur) = "actualizarLista(administrador.id_admin , 'FechaNacimiento', $event)">{{administrador.nacimiento}}</td>
            <td class="pt-3-half" contenteditable="true" (blur) = "actualizarLista(administrador.id_admin , 'FechaIngresoTECres', $event)">{{administrador.ingreso}}</td>
            <td class="pt-3-half" contenteditable="true" (blur) = "actualizarLista(administrador.id_admin , 'Nombre', $event)">{{administrador.nombre}}</td>
            <td class="pt-3-half" contenteditable="true" (blur) = "actualizarLista(administrador.id_admin , 'Apellido1', $event)">{{administrador.apellido1}}</td>
            <td class="pt-3-half" contenteditable="true" (blur) = "actualizarLista(administrador.id_admin , 'Apellido2', $event)">{{administrador.apellido2}}</td>
            <td class="pt-3-half" contenteditable="true" (blur) = "actualizarLista(administrador.id_admin , 'edad', $event)">{{administrador.edad}}</td>
            <td class="pt-3-half" contenteditable="true" (blur) = "actualizarLista(administrador.id_admin , 'Cedula', $event)">{{administrador.cedula}}</td>
            
              <td>
                <span class="table-remove">
                  
                    <button type="button" 
                            style="color:chocolate"
                            class="btn  btn-rounded btn-sm my-0 " 
                            (click) = "eliminar(administrador.id_admin)">ELIMINAR</button>
                    
                      <button type="button" style="color:chocolate" class="btn btn-rounded btn-sm my-0 " (click) = "agregar1(administrador.id_admin)">AGREGAR</button>
                </span>
              </td>
          </tr>
     
        </tbody>
      </table>
</div>
