<h1 style="color: chocolate">Perfil de Clientes</h1>

<div class="container ml-4">
    <form class="form-inline my-2 my-lg-0">
        <input id = "busqueda" 
               class="form-control mr-sm-2 mb-1" 
               type="search" 
               placeholder="Buscar Cliente por nombre"
               style="width: 8cm;" 
               aria-label="Search">
        <button type = "button" 
                class="btn border border-secondary mb-1" 
                style="color: chocolate;" 
                (click) = "buscar('busqueda','i')">Buscar</button>
    </form>
    <button type="button"
            class="btn border border-secondary mb-1" 
            style="color: chocolate;" 
            (click) = "agregar()">Agregar Nuevo Cliente</button>
    <table class="table table-dark table-responsive-md table-striped">
        <thead>
          <tr>
            
            <th scope="col">Descripción</th>
            <th scope="col">Nombre</th>
            <th scope="col">Incorporado por</th>
            <th scope="col">Id del perfil</th>
            
          </tr>
        </thead>
        <tbody>
            
         
          <tr *ngFor = "let cliente of perfilClientes;index as i" [attr.id] = "i"  [ngClass] = "{'highlight' : cliente.nombre == buscar('busqueda','i')}">
            
            <td class="pt-3-half" contenteditable="true" (blur) = "actualizarLista(cliente.nombre , 'descripcion', $event)">{{cliente.descripcion}}</td>
            <td class="pt-3-half" contenteditable="true" (blur) = "actualizarLista(cliente.nombre , 'nombre', $event)">{{cliente.nombre}}</td>
            <td class="pt-3-half" contenteditable="true" (blur) = "actualizarLista(cliente.nombre , 'incorporado_por', $event)">{{cliente.incorporado_por}}</td>
         
            
              <td>
                <span class="table-remove">
                  
                    <button type="button" 
                            style="color:chocolate"
                            class="btn  btn-rounded btn-sm my-0 " 
                            (click) = "eliminar(cliente.nombre)">ELIMINAR</button>
                    
                    <button type="button" style="color:chocolate" class="btn btn-rounded btn-sm my-0 " (click) = "agregar1(cliente.nombre)">AGREGAR</button>
                </span>
              </td>
          </tr>
     
        </tbody>
      </table>
</div>

